<table>
  <thead>
    <tr>
      <th>N</th>
       <th>Title</th>
       <th>Description</th>
       <th>Operacions</th>
    </tr>   
  </thead>
    {{#each tasks}}
  <tbody>
    <tr>
      <td>{{@index}}</td>
      <td>{{title}}</td>
      <td>{{description}}</td>
       <td>
         {{#if done}}
            <a href="/done/{{_id}}"> hecho</a>
         {{else}}
             <a href="/done/{{_id}}">No realizado</a>
         {{/if}}
         <a href="/delete/{{_id}}">borrar</a>
          <a href="/edit/{{_id}}">actualizar</a>
       </td>
    </tr>
    {{/each}}
  </tbody>
</table>
 <!-- Para recorrre con handelerbar se utiliza
   Con for -> each
   -->